# This file contains common pin mappings for the BIGTREETECH EBB USB board.
# To use this config, the firmware should be compiled for the RP2040 with "USB".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBB]
serial: /dev/serial/by-id/usb-Klipper_rp2040_5044340310C4D61C-if00
# restart_method: rpi_usb

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBB:gpio27

[lis2dw]
cs_pin: EBB:gpio1
spi_bus: spi0a
axes_map: z,x,y

[resonance_tester]
probe_points: 175, 175, 20    # bed center for 350mm Voron 2.4
accel_chip: lis2dw

[extruder]
step_pin: EBB:gpio18
dir_pin: EBB:gpio19
enable_pin: !EBB:gpio17
microsteps: 16
##  rotation_distance = <previous_rotation_distance> * (<actual_extrude_distance> / <requested_extrude_distance>)
rotation_distance: 48.033
full_steps_per_rotation: 200
gear_ratio: 9:1
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB:gpio7
sensor_type: Generic 3950
sensor_pin: EBB:gpio26
pullup_resistor: 2200

[tmc2209 extruder]
uart_pin: EBB:gpio20
run_current: 0.650
stealthchop_threshold: 999999

[fan] # fan1
pin: EBB:gpio4
# off_below: 0.05
# cycle_time: 0.05

[heater_fan hotend_fan] # fan2
pin: EBB:gpio14
heater: extruder
heater_temp: 50.0
max_power: 1.0
# kick_start_time: 0.5
##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0
